#header{
    padding:0.5rem;
    margin-bottom: 10px;
}
body{
    position: relative;
    height: 100%;
}
.allign-center{
    text-align: center;
}
.local-scroll{
    overflow-y: auto;
    height: 90vh;
}
.local-scroll::-webkit-scrollbar {
    width: 12px;
}

.rrspy{
    position: relative;
    height:500px;
    overflow: auto;
}
.logo{
    font-family: "Bree Serif", serif;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
    color:black;
    
    align-items: center;
}
.sources_head {
    text-align: center;
}
.sources_head>*{
    
    border-radius: 15px;
    width : 110%;
}
.content{
    margin-left:5px;
}
.thumb{
    object-fit: cover;
    width:150px;
    height:150px;
    border-radius: 15px;
    position: relative;
    top:50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.thumbDiv img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.mid {
    text-align:center;
}
.mid>*{
    text-align:left;
}
.innerLink {
    pointer-events: none;
}
a, a:hover{
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}
.card {
    margin-bottom:10px;
}
