html,
body {
    height: 100%;
    background-image: url("../img/halong_blur.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;

    font-family: Roboto;    
    color: whitesmoke; 

}
html {
    scroll-behavior: smooth;
}

a, a:hover{
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}
.card {
    margin: 15px;
    color: black;
}
.mid {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body > div > div > button{
    padding: 15px;
    border: 10px;
    margin: 15px;
}

.mid > *{
    color: whitesmoke;
    align-content: center;
    text-align: center;
    
}

.full-height{
    height:100%;
}
.center-allign{
    text-align: center;
}
.btn{
    margin: auto;
}